<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home Simulator by IAMMETER</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HomeSimulator.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/iammeter-logo.svg" height="30" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarColor03">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.MenuName=="index"?"active":"")" asp-area=""
                                asp-controller="Home" asp-action="Index">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  @(ViewBag.MenuName=="setting"?"active":"")" asp-area=""
                                asp-controller="Home" asp-action="Setting">Setting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  @(ViewBag.MenuName=="apihistory"?"active":"")" asp-area=""
                                asp-controller="Home" asp-action="ApiHistory">API history</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div id="toastDiv" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">

                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - HomeSimulator.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
